<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

	<icon src="first21_120x120_001.png" />
	
	<gap:platform name="android" />
	
    <name>CUTIEApp</name>

    <description>
        Phonegap experiment 
    </description>

    <author href="https://build.phonegap.com" email="plp@lenta.ru">
        PLP :) 
    </author>

</widget>